<%- include ("partials/header2.ejs") %> <!-- Includes the header -->

<style>
    /* CSS styles for the table */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #0f0f0f;
    }

    th {
        background-color: #f2f2f2;
    }

    tr{
        background-color: #ddd;
    }
</style>

<table> <!-- Table to display sparkling wines data -->
    <th>Id</th>
    <th>Name</th>
    <th>Type</th>
    <th>Vintage</th>
    <th>Country</th>
    <th>Region</th>
    <th>Price</th>
    <th>Description</th>  
    <th>user_id</th>
    
    <% if (sparklingwinesData.length !=0) {var i=1; sparklingwinesData.forEach( function(data) { %> <!-- Looping through the sparkling wines data -->
    <tr> <!-- Table row for each wine data -->
        
        <td><%=data.Id %></td>  
        <td><%=data.Name %></td>  
        <td><%=data.Type %></td> 
        <td><%=data.Vintage %></td>
        <td><%=data.Country %></td>
        <td><%=data.Region %></td>  
        <td>$<%=data.Price %></td>  
        <td><%=data.Description %></td>  
        <td><%=data.user_id %></td>  
         
    </tr>
   
    <% i++; }) %> <%}%>
</table>

<%- include ("partials/footer.ejs") %> <!-- Includes the footer -->
